services:
  postgres:
    image: postgres:16-alpine
    env_file:
      - .env
    environment:
      POSTGRES_DB: ${PG_DB_NAME}
      POSTGRES_USER: ${PG_DB_USER}
      POSTGRES_PASSWORD: ${PG_DB_PASS}
    volumes:
      - pg-data:/var/lib/postgresql/data
    networks:
      - app_backend
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${PG_DB_USER} -d ${PG_DB_NAME}"]
      interval: 5s
      timeout: 3s
      retries: 30
    restart: unless-stopped
    security_opt:
      - no-new-privileges:true

  clickhouse:
    image: clickhouse/clickhouse-server:25.12.2.54
    env_file:
      - .env
    environment:
      CLICKHOUSE_USER: ${CH_DB_USER}
      CLICKHOUSE_PASSWORD: ${CH_DB_PASS}
      CLICKHOUSE_DB: ${CH_DB_NAME}
    volumes:
      - ch-data:/var/lib/clickhouse
    networks:
      - app_backend
    ulimits:
      nofile:
        soft: 262144
        hard: 262144
    healthcheck:
      test: ["CMD-SHELL", "wget -qO- http://127.0.0.1:8123/ping | grep -q Ok"]
      interval: 10s
      timeout: 5s
      retries: 30
    restart: unless-stopped
    security_opt:
      - no-new-privileges:true

  management:
    build:
      context: .
      dockerfile: Dockerfile
      ssh:
        - default
    env_file:
      - .env
    depends_on:
      postgres:
        condition: service_healthy
      clickhouse:
        condition: service_healthy
    networks:
      - app_backend
    restart: unless-stopped
    security_opt:
      - no-new-privileges:true
    cap_drop:
      - ALL
    read_only: true
    tmpfs:
      - /tmp
    init: true
    pids_limit: 300
    command: ["python", "-m", "uvicorn", "main:app", "--host", "0.0.0.0", "--port", "8000"]
    ports:
       - "8000:8000"

networks:
  app_backend:
    external: true

volumes:
  pg-data:
  ch-data:
